# Python
__pycache__/
*.pyc
*.pyo

# Conda
env/
.conda/
.condarc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Data
data/NTL_Data
*nc
*tif
*csv

#Maps & Graphs
output/Graphics

# Virtual envs
.env/
.env

# MyST build outputs
_build
